<button routerLink="customer-add">Add</button>
<h2>Customer List</h2>
    <table border="1" width="100%">
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Date of Birth</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Jahidul Islam</td>
            <td>jahidul.islam//gmail.com</td>
            <td>01636373774</td>
            <td>1999-03-08</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Md Nayeem</td>
            <td>nym.egen//gmail.com</td>
            <td>01515666542</td>
            <td>1985-05-15</td>
        </tr>
    </table>

    