<p>customer-add works!</p>
<form action="submit_customer.php" method="post">
    <label for="name">Full Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="mobile">Mobile:</label>
    <input type="tel" id="mobile" name="mobile" required><br><br>

    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" name="dob" required><br><br>

    <button type="submit">Submit</button>
    <button routerLink="">Customer List</button>
</form>

