
<div class="form">

<form class="form-container" [formGroup]="customerRegister" (submit)="submitForm()">
    <h2>Register</h2>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control" formControlName = "name" required placeholder="Enter your name" >
    <div *ngIf="customerRegister.get('name')?.invalid && customerRegister.get('name')?.touched">
      <span style="color: red" *ngIf="customerRegister.get('name')?.errors?.['required']">Please enter your name</span>
      <span style="color: red" *ngIf="customerRegister.get('name')?.errors?.['minLength']">Name is to Short</span>

    </div>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" formControlName = "email" required placeholder="Enter your email">
    <div *ngIf="customerRegister.get('email')?.invalid && customerRegister.get('email')?.touched">
      <span style="color: red" *ngIf="customerRegister.get('email')?.errors?.['required']">Please enter your email</span>
      <span style="color: red" *ngIf="customerRegister.get('email')?.errors?.['email']">@example.com</span>
    </div>
    </div>

    <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="tel" id="mobile" name="mobile" class="form-control" formControlName = "mobile" required pattern="[0-9]{10}" placeholder="Enter your mobile number">
    <div *ngIf="customerRegister.get('mobile')?.invalid && customerRegister.get('mobile')?.touched">
      <span style="color: red" *ngIf="customerRegister.get('mobile')?.errors?.['required']">Please enter Number</span>
    </div>

    </div>

    <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input type="date" id="dob" name="dob" class="form-control" formControlName = "dob" required>
      <div *ngIf="customerRegister.get('dob')?.invalid && customerRegister.get('dob')?.touched">
        <span style="color: red" *ngIf="customerRegister.get('dob')?.errors?.['required']">Date of Birth Required</span>
      </div>
    </div>

    <button type="submit" class="btn-submit" >Submit</button>
    <button routerLink="customer-list" class="btn-submit" >Customer List</button>
</form>
</div>

<h2>Customer List</h2>
<table border="1" style="width: 100%; border-collapse: collapse; text-align: center">
  <thead>
  <tr>
    <th>Customer Id</th>
    <th>Customer Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Date of Birth</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customerList">
    <td>{{customer.id}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.mobile}}</td>
    <td>{{customer.dob}}</td>
  </tr>
  </tbody>
</table>
