<nav class="navbar">
  <div class="container">
    <a class="logo" routerLink="/">Dashboard</a>

    <button class="menu-btn" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <ul class="nav-links" [class.open]="menuOpen">
      <!-- <li><a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a></li> -->
      <li><a routerLink="/table" routerLinkActive="active">Analysis Table </a></li>
      <li><a routerLink="/justtable" routerLinkActive="active">Table</a></li>
      <li><a routerLink="/prescription" routerLinkActive="active">OPD Prescription</a></li>
    </ul>
  </div>
</nav>
<iframe style=" position: absolute;width: 100%;height: 100%;"
        title="Finance Analysis - Power BI"
        src="https://app.powerbi.com/reportEmbed?reportId=dc1b9fae-d0e6-4687-9442-fd19b806c708&autoAuth=true&ctid=cd575524-9258-4ed8-9487-e1a227be292b"
        allowfullscreen="true">
</iframe>

